*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  position: relative;
}
.padding{
  padding-right: 0.5rem;
}
.bigSize{
  font-size: xx-large;
}
.formButton{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.username{
  display: block;
  position: absolute;
  background-color: red;
  top:0;
  right: 0;
}